<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stellar Admin</title>

    {% for style in css %}
      <link rel="stylesheet" href="{{'static/'+style}}">
    {% endfor %}
    <link rel="shortcut icon" href="{{'static/' + favicon}}" />

</head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% include 'partials/_navbar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include 'partials/_sidebar.html' %}
        <!-- partial -->
        <div class="main-panel">
            {% block content %}

            {% endblock %}
            <!-- partial:partials/_sidebar.html -->
            {% include 'partials/_footer.html' %}
        </div>
            <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->

    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
        <script src="static/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="static/vendors/Chart.min.js"></script>
        <script src="static/vendors/moment/moment.min.js"></script>
        <script src="static/vendors/daterangepicker/daterangepicker.js"></script>
        <script src="static/vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
        <script src="static/js/off-canvas.js"></script>
        <script src="static/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
        <script src="static/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>